.my-little-app {
  width: 500px;
  margin: 50px auto;
}

.draft-editor-wrapper {
  border: 1px solid #ccc;
}

// .edit--container {
//   width: 500px;
//   margin: auto;
// }

// .editor--wrapper {
//   border: 1px solid black;
// }
