.dashboard-container {
  // display: flex;
  height: 100%;
  margin: 75px auto;
  width: 70%;
  & h3 {
    font-family: Tenor Sans;
    margin: 10px 0 30px 0;
    color: black;
  }

  .featured--container {
    width: 94%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 300px;
    /* margin: auto; */
    gap: 2em;

    .fashion-container {
      background: url(../img/RectangleF.png) no-repeat;

      -webkit-box-shadow: 0 2px 4px 0 rgba(183, 192, 206, 0.4);
      -moz-box-shadow: 0 2px 4px 0 rgba(183, 192, 206, 0.4);
      box-shadow: 0 2px 4px 0 rgba(183, 192, 206, 0.4);
    }
    .health-container {
      background: url(../img/RectangleH.png) no-repeat;

      -webkit-box-shadow: 0 2px 4px 0 rgba(183, 192, 206, 0.4);
      -moz-box-shadow: 0 2px 4px 0 rgba(183, 192, 206, 0.4);
      box-shadow: 0 2px 4px 0 rgba(183, 192, 206, 0.4);
    }
  }
  .blog--card__container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
  }
  .hr {
    margin: 50px 0 40px 0;
    border-bottom: 1px solid rgb(92, 89, 89);
    width: 94%;
  }

  .vr {
    border: 1px solid #5c5959;
    margin: 0 10px 0 10px;
    height: inherit;
  }
  .latest--container {
    display: flex;
    justify-content: space-between;
    width: 94%;

    .cards--container {
      background: white;
      width: min-content;
      height: 300px;

      .image-de {
        width: 390px;
        height: 300px;
        background: url(../img/RectangleDe.png) no-repeat;
      }
      .image-dr {
        width: 390px;
        height: 300px;
        background: url(../img/RectangleDr.png) no-repeat;
      }
      .image-sw {
        width: 390px;
        height: 300px;
        background: url(../img/RectangleWS.png) no-repeat;
      }
    }
  }
}

.image-and-stroke {
  display: flex;
}

.container {
  margin-right: auto;
  margin-left: auto;
  /* for edge cases: */
  width: 100%;
  max-width: 100%;

  padding-right: 15px;
  padding-left: 15px;
  // height: 100%;
  @include for-desktop-up {
    // width: 100%;
    margin: auto;
  }
  // @include for-phone-only {
  // }
}

@include for-phone-only {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .dashboard-container .featured--container {
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
  }

  .dashboard-container .featured--container .fashion-container {
    width: 340px;
  }

  .dashboard-container .featured--container .health-container {
    width: 340px;
  }

  .dashboard-container .latest--container {
    display: block;
  }
}
