.footer--container {
  height: 200px;
  background: #000000;
  bottom: 0;
  width: 100%;
  // margin-top: 3rem;
}

.inner-footer {
  width: 80%;
  margin: auto;
}

.links--container {
  padding-top: 30px;
  .about {
    color: #ffffff;
  }
  .faq {
    color: #ffffff;
  }
}

.footer-copyright {
  color: white;
}

@include for-phone-only {
  .footer--container {
    position: relative;
  }
}

@include for-tablet-portait-only {
  .footer--container {
    width: 100vw;
    position: relative;
  }
}
