.footer--container {
  height: 20vh;
  background: #000000;
  position: relative;
  bottom: 0;
  width: 100%;
}

.links--container {
  padding-top: 30px;
  .about {
    color: #ffffff;
  }
  .faq {
    color: #ffffff;
  }
}

.footer-copyright {
  color: white;
}

@include for-phone-only {
  .footer--container {
    position: fixed;
  }
}

@include for-tablet-portait-only {
  .footer--container {
    width: 100vw;
    position: fixed;
  }
}
