.footer--container {
  height: 20vh;
  background: #000000;
  position: absolute;
  width: 100%;
}

.links--container {
  margin-top: 30px;
  .about {
    color: #ffffff;
  }
  .faq {
    color: #ffffff;
  }
}

.footer-copyright {
  color: white;
}
