.health--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  padding: 0;
  margin: 0;
}
.health-image-1 {
  background: url(../img/jasmine.jpg) no-repeat;
  width: 100%;
  height: 300px;
  
}
.health-image-2 {
  background: url(../img/lavender.jpg) no-repeat;
  width: 100%;
  height: 300px;
}
.health-image-3 {
  background: url(../img/snakeplant.jpg) no-repeat;
  width: 100%;
  height: 300px;
}
.health-image-4 {
  background: url(../img/aloevera.jpg) no-repeat;
  width: 100%;
  height: 300px;
}
