@import "./mixins";
@import "./navbar";
@import "./landing";
@import "./signin";
@import "./signup";
@import "./footer";
@import "./buttons";
@import "./dashboard";
@import "./createpost";
@import "./posts.scss";
@import "./base";
@import "./fashion";
@import "./health";
@import "./world";

body {
  font-family: Tenor Sans;
  // margin: 0;
}

$colors: (
  primary: #000000,
  secondary: #ffffff
);
