@import "./mixins";
@import "./navbar";
@import "./landing";
@import "./signin";
@import "./signup";
@import "./footer";
@import "./buttons";
@import "./dashboard";
@import "./createpost";
@import "./posts.scss";
@import "./base";

$colors: (
  primary: #000000,
  secondary: #ffffff
);
