@import "./navbar";
@import "./landing";
@import "./signin";
@import "./signup";
@import "./footer";
@import "./buttons";
@import "./dashboard";
@import "./createpost";

$colors: (
  primary: #000000,
  secondary: #ffffff
);
