.tech--container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 1em;
  width: 70%;
  margin: 7rem auto;
  min-height: 80vh;
  max-height: 100%;
}

.tech--h2 {
  margin-top: 5em;
  margin-bottom: 2em;
  text-align: center;
}
.span {
  font-weight: bold;
  color: rgb(160, 113, 121);

  &:hover {
    text-decoration: underline;
  }
}

.text {
  font-size: 14px;
}
